export(fcov)
export(prop)
export(predband)
import(stats)
import(utils)
import(survival)
importFrom("grDevices", "col2rgb", "rgb")
importFrom("graphics", "lines", "polygon")
S3method(predband,scproc)
S3method(prop,coxph)
S3method(prop,cph)
S3method(prop,crr)
S3method(fcov,coxph)
S3method(fcov,cph)
S3method(fcov,crr)
S3method(plot,scproc)
S3method(print,scproc)
S3method(summary,scproc)
useDynLib(goftte, .registration = TRUE)
